<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mirai</title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/13c3e5edf2.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.4/dist/kute.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>

<body>

  <header>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="/" id="navbar__logo">Mirai</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links">
              Home
            </a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">
              Markets
            </a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">
              Swap
            </a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">
              Tokenomics
            </a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">
              About
            </a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">
              Blog
            </a>
          </li>
          <li class="navbar__btn">
            <a href="/" class="nav-button">
              Connect
            </a>
          </li>
        </ul>
      </div>
    </nav>

    </div>
  </header>

  <main>
    <div class="main">
      <div id="blur"></div>
      <div class="Our-Concept-bar">
        <img class="Box-SVG" src="..\static\images\Untitled.svg" alt="boxes moving">
        <div class="our-concept">
          <div class="hidden-content">
            <p>Dreamcatcher (DCR) is a revolutionary utility token designed to facilitate
              the creation of crypto funds at a significantly lower cost,
              empowering individuals to pursue their dreams of financial freedom through cryptocurrency investments.
              With Dreamcatcher, the barriers to entry in the world of crypto funds are lowered,
              making it easier and more affordable for people to participate in the growing digital asset market.
              By leveraging the power of blockchain technology, Dreamcatcher streamlines the fund creation process,
              reducing administrative overhead and providing a seamless user experience.
              Whether you're an aspiring investor or an experienced financial enthusiast,
              Dreamcatcher opens up new opportunities for everyone to actively engage in the crypto economy,
              paving the way towards a more accessible and inclusive financial future.</p>
          </div>
        </div>
        <div class="dr-suess1">
          <p>In the land of Crypto where the coins do play,
            Dreamcatcher comes with a new way,
            A movement it brings, oh, what a sight,
            With transparency, innovation, and accessibility in flight.</p>
        </div>
      </div>
      <div class="token-details-bar">
        <img class="Box-SVG2" src="..\static\images\Untitled.svg" alt="boxes moving">
        <div class="dr-suess2">
          <p>Revolutionizing how investors do play,
            A platform so clever, it leads the way,
            Managing assets, oh, so smooth,
            Dreamcatcher's here to help us improve.</p>
        </div>
        <div class="token-details"></div>
        <!--<img class="Logo" src="" alt="Logo">
          </div>-->
        <div class="token-distribution"></div>
        <div class="contractaddress"></div>
      </div>
      <div class="roadmap-bar">
        <img class="Box-SVG3" src="..\static\images\Untitled.svg" alt="boxes moving">
        <div class="roadmap"></div>
        <div class="dr-suess3">
          <p>"Dream big!" it says with a smile and a wink,
            "Join the crypto world, it's easier than you think!"
            A team so dedicated, so driven, it's true,
            They push the limits of what technology can do.
          </p>
        </div>
      </div>
      <div class="reassurance-bar">
        <img class="Box-SVG4" src="..\static\images\Untitled.svg" alt="boxes moving">
        <div class="dr-suess4">
          <p>Inspiring us all to take part in this game,
            With Dreamcatcher's guidance, we'll never be the same.
            Together we'll venture to new heights untold,
            In the realm of crypto, where the future unfolds.
          </p>
        </div>
        <div id="auditors"></div>
        <div id="venture-capitol"></div>
        <div id="team"></div>
      </div>
    </div>
    </div>

  </main>

  <footer>
    <div class="foot-cont">
      <div>
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis eleifend elit, in ullamcorper odio
          euismod eget. Ut ac ante lacinia, tempor odio vitae, posuere lacus.</p>
      </div>
      <div>
        <h3>Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Markets</a></li>
          <li><a href="#">Swap</a></li>
          <li><a href="#">Tokenomics</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div>
        <h3>Contact Us</h3>
        <p>123 Main Street<br>City, State 12345<br>Phone: (123) 456-7890<br>Email: info@dreamcatcher.com</p>
      </div>
    </div>
  </footer>


  <script>
    const tween = KUTE.fromTo(
      '#blob1',
      { path: '#blob1' },
      { path: '#blob2' },
      { repeat: 999, duration: 3000, yoyo: true }
    ).start();
  </script>
  <script>
    const chars = "☺Σ×Π#-_¯—→↓↑←0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZ";

    var Glitch = function (selector, index, numberOfGlitchedLetter, timeGlitch, timePerLetter, timeBetweenGlitch) {
      this.selector = selector;
      this.index = index;
      this.numberOfGlitchedLetter = numberOfGlitchedLetter;
      this.innerText;
      this.charArray = [];
      this.charIndex = [];
      this.timeGlitch = timeGlitch;
      this.timeBetweenGlitch = timeBetweenGlitch;
      this.timePerLetter = timePerLetter;
      this.maxCount = Math.floor(this.timeGlitch / this.timePerLetter);
      this.count = 0;
    }

    Glitch.prototype.init = function () {
      this.innerText = this.selector.innerText;
      this.charArray = this.innerText.split("");
      if (this.numberOfGlitchedLetter == undefined || this.numberOfGlitchedLetter > this.innerText.length) {
        this.numberOfGlitchedLetter = this.innerText.length;
      }
      this.defineCharIndexToRandomize();
    }

    Glitch.prototype.defineCharIndexToRandomize = function () {
      this.charIndex = [];
      for (let i = 0; i < this.numberOfGlitchedLetter; i++) {
        let randCharIndex = Math.floor(Math.random() * this.charArray.length);
        this.charIndex.push(randCharIndex);
      }
    }

    Glitch.prototype.randomize = function () {
      //copy the char array
      let randomString = Array.from(this.charArray);

      //randomize char
      for (let i = 0; i < this.numberOfGlitchedLetter; i++) {
        let randIndex = Math.floor(Math.random() * chars.length);
        let randCharIndex = this.charIndex[i];
        if (randomString[randCharIndex] !== ' ') {
          randomString[randCharIndex] = chars[randIndex];
        }
      }
      this.selector.innerText = randomString.join("");
    }

    Glitch.prototype.update = function (interval) {
      if (this.count >= this.maxCount - 1) {
        this.selector.innerText = this.innerText;
        this.defineCharIndexToRandomize();
        let ctx = this;
        let wait = setTimeout(function () {
          ctx.count = 0;
        }, this.timeBetweenGlitch);
      } else {
        this.randomize();
        this.count++;
      }
    }

    Glitch.prototype.glitch = function () {
      let ctx = this;
      let interval = setInterval(function () {
        ctx.update(this);
      }, this.timePerLetter);
    }

    var arrayElements;
    var glitchArray = [];

    function initAllGlitch() {
      arrayElements = document.querySelectorAll(".heading");
      for (let i = 0; i < arrayElements.length; i++) {
        let selector = arrayElements[i];
        let randLetterNumber = 2 + Math.floor(Math.random() * 8);
        let randGlitchTime = 500 + Math.floor(Math.random() * 2500);
        let randGlitchPauseTime = 500 + Math.floor(Math.random() * 2500);
        let glitch = new Glitch(selector, i, randLetterNumber, 200, 65, randGlitchPauseTime);
        glitch.init();
        glitchArray.push(glitch);
      }
    }


    function update() {
      for (let i = 0; i < glitchArray.length; i++) {
        let glitch = glitchArray[i];
        glitch.glitch();
      }
    }

    initAllGlitch();
    update();
  </script>
  <script src="..\static\js\concept.js"></script>
  <script src="..\static\js\app.js"></script>
</body>

</html>