/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: transparent;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    left: -20rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #222;
    text-decoration: none;
}

.theme-switcher {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    left: 40rem;
    top: -3.5rem;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.dark-theme {
    background-color: #222;
    color: #fff;
}

.hero {
    background-color: transparent;
    padding: 80px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0c7cd5;
}

.features {
    background-color: transparent;
    text-align: center;
}

.features h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.feature {
    display: inline-block;
    background-color: #3d3d3d5e;
    width: 300px;
    height: 150px;
    padding: 1rem;
    text-align: left;
    border-radius: 1rem;
}

.feature i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2196F3;
}

.feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #666;
}

footer {
    background-color: transparent;
    padding: 10px 0;
    margin-top: 20px;
    text-align: center;
}
