


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    @extend .flex;
    flex-direction: row;
}

.fixed-row {
    @extend .row;
    position: fixed;
}

.column {
    @extend .flex;
    flex-direction: column;
}

.fixed-column {
    @extend .column;
    position: fixed;
}

.clickable:hover {
    cursor: pointer;
}

.big-font {
    font-size: large;
}

.button {
    color: #FFF;
    background: #121212;
}

