<!DOCTYPE html>
<style>
    * {
        box-sizing: border-box;
    }

    html {
        background-color: #121212;
    }

    body {
        margin: 0;
        padding: 0;
    }
</style>
<html>
    <head>
        <title>{% block title %}Dreamcatcher{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="styles.css") }}">
    </head>
    <body>
        
        {% include 'navbar.html' %}

        <footer>
            <p>&copy; 2023 Dreamcatcher</p>
        </footer>
    </body>
</html>
