<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css imports -->
    <link rel="stylesheet" href="/static/css/hidden_element_animation.css">
    <title>{{ pageName }}</title>
</head>
<body>
    
    <!-- js imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/terminal.js"></script>
    <script src="/static/js/hidden_element_animation.js"></script>
</body>
</html>